.pagenumber_list {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  font-size: 18px;
} 

.pagenumber_list > i {
  width: 40px;
  text-align: center;
  color: #f5859d;
}

.pagenumber_list li {
  width: 40px;
  text-align: center;
}

.pagenumber_list li:nth-child(2) {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #f5859d;
  line-height: 40px;
}

