* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background: linear-gradient(to bottom, #1B1F4E, #23374E, #718387, #376C74);
  position: relative;
  height: 100%;
  background-attachment: scroll;
}

.app-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.42); */
}